<?xml version="1.0"?>
<robot name="robot">

    <link name="body">
    </link>

    <ros2_control name="pulse_audio" type="sensor">
        <hardware>
            <plugin>ffmpeg_hardware/FFmpegInput</plugin>
            <param name="url">default</param>
            <param name="input_format">pulse</param>
            <param name="options">
                sample_rate: 48000
                channels: 2
            </param>
            <param name="media_type">audio</param>
        </hardware>
    </ros2_control>

</robot>