<?xml version="1.0"?>
<robot name="robot">

    <link name="body">
    </link>

    <ros2_control name="FFmpegInput" type="sensor">
        <hardware>
            <plugin>ffmpeg_hardware/FFmpegInput</plugin>
        </hardware>
        <sensor name="pulse_audio">
            <state_interface name="codec_parameters" data_type="ffmpeg_cpp::CodecParameters*"/>
            <state_interface name="packet" data_type="ffmpeg_cpp::Packet*"/>
            <param name="url">default</param>
            <param name="input_format">pulse</param>
            <param name="options">
                sample_rate: 48000
                channels: 2
            </param>
            <param name="media_type">audio</param>
        </sensor>
    </ros2_control>

</robot>