<?xml version="1.0"?>
<robot name="robot">

    <link name="body">
    </link>

    <ros2_control name="image_reader" type="sensor">
        <hardware>
            <plugin>ffmpeg_hardware/FFmpegInput</plugin>
            <!-- <param name="ffmpeg_log_level">verbose</param> -->
            <param name="url">$(find ffmpeg_pipeline_examples)/webp_file/example_image.webp</param>
            <param name="format">image2</param>
            <param name="options">
                loop: 1
            </param>
            <param name="media_type">video</param>
        </hardware>
    </ros2_control>

</robot>