<?xml version="1.0"?>
<robot name="robot">

    <link name="body">
    </link>

    <ros2_control name="FFmpegHardware" type="system">
        <hardware>
            <plugin>ffmpeg_hardware/FFmpegHardware</plugin>
        </hardware>
        <sensor name="image_reader">
            <state_interface name="codec" data_type="std::string*"/>
            <state_interface name="packet" data_type="ffmpeg_cpp::Packet*"/>
            <param name="url">$(find ffmpeg_pipeline_examples)/webp_file/example_image.webp</param>
            <param name="input_format">image2</param>
            <param name="options">
                loop: 1
            </param>
        </sensor>
    </ros2_control>

</robot>