<?xml version="1.0"?>
<robot name="robot">

    <link name="body">
    </link>

    <ros2_control name="h264_camera" type="sensor">
        <hardware>
            <plugin>ffmpeg_hardware/FFmpegInput</plugin>
            <param name="url">/dev/v4l/by-id/usb-Insta360_Insta360_Link_2C-video-index0</param>
            <param name="format">v4l2</param>
            <param name="options">
                input_format: h264
                video_size: 1280x720
                framerate: 24
                timestamps: abs
            </param>
            <param name="media_type">video</param>
        </hardware>
    </ros2_control>

</robot>